@charset "utf-8";

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 1. 기본 Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

/* 2. 링크와 리스트 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* 3. 버튼 초기화 */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* 4. 폼 요소 초기화 */
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* 5. 공통 유틸 */
.hidden {
  display: none !important;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

:root {
  /* ------------------------------ Color ------------------------------ */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #00c4c4;
  --color-primary-light: #e7f9f9;


  /* ------------------------------ Typography ------------------------- */
  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* ------------------------------ Spacing ---------------------------- */
  --space-0: 0;
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-48: 3rem;
  --space-60: 3.75rem;
  --space-80: 5rem;
  --space-100: 6.25rem;


  /* ------------------------------ Border ---------------------------- */
  --border-width-0: 0;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 3px;


  --border-radius-0: 0;
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --border-radius-12: 12px;
  --border-radius-pill: 9999px;
  /* 버튼 pill 스타일 */
  --border-radius-circle: 50%;
}
