* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  font-size: 16px;
  color: #333;
}

section {
  margin: 20px auto;
  width: calc(100% - 64px);
  max-width: 1024px;
  text-align: center;
}

.text_section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px 0;
}

.text_section h1 {
  font-size: 2rem;
}

.list_section {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #fff;
}

.list_section .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #333;
  border-radius: 8px;
  padding: 40px 32px;
}

i {
  color: aqua;
  font-size: 80px;
  transform: rotate(0deg);
  transition: all ease-in-out 0.2s;
}

i:hover {
  transform: rotate(10deg);

}

.list_section h3 {
  font-size: 1.4rem;
  font-weight: 500;
}