* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: calc(100% - 80px);
  max-width: 800px;
  margin: 40px auto;
}

.tab-list {
  display: flex;
  list-style-type: none;
  border-top: 2px solid #333;
  border-bottom: 1px solid #ccc;
}

.tab-item {
  width: calc(100% / 4);
  padding: 10px 0;
  color: #666;
  background-color: #f7f7f7;
  border-left: 1px solid #ccc;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.tab-item:last-child {
  border-right: 1px solid #ccc;
}

.on {
  position: relative;
  background-color: #fff;
  color: #000;
  z-index: 2;
}

.on::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  z-index: 1;
}

.tab-content {
  display: none;
  padding: 20px 0;
}

.show {
  display: block;
}

h4 {
  padding: 0 0 12px 0;
  font-size: 16px;
  font-weight: 500;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

th {
  width: 200px;
  padding: 12px 20px;
  font-weight: 500;
  border-top: 1px solid #eee;
  background-color: #f7f7f7;
  text-align: left;
}

td {
  padding: 12px 20px;
  border-top: 1px solid #eee;
}

.more {
  width: 100%;
  padding: 12px 0;
  color: blue;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.hide {
  display: none;
}
