@import url(common.css);

body {
  background-color: #eee;
  height: 1000px;
  color: #666;
}

/* --------------------헤더-------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 0 0 0;
  background-color: #f6f5ef;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* ----------유틸 */
.util {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.util__list {
  display: flex;
  justify-content: flex-end;
}

.util__item {
  font-size: 13px;
}

.util__item:hover {
  text-decoration: underline;
}

.util__item:not(:first-of-type)::before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 10px;
  margin: 0 12px;
  background-color: #ccc;
}

.btn__search {
  padding: 4px 6px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* ----------메인 메뉴 */
.gnb {
  margin: 20px 0 0 0;
  /* width: 800px; */
}

.gnb__list {
  display: flex;
  /* justify-content: flex-end; */
}

.gnb__item {
  font-size: 14px;
  padding: 8px 20px 30px 20px;
  cursor: pointer;
}

.gnb__item:hover {
  background-color: #333;

}

.gnb__item:hover a {
  color: #1f9c4f;
  text-decoration: underline;
}

.gnb__sub {
  display: none;
  position: absolute;
  top: 120px;
  left: 0;
  background-color: #333;
  width: 100%;
}

.gnb__sub__inner {
  display: flex;
  gap: 140px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px 0;
}

.sub__title {
  margin-bottom: 12px;
  color: #fff;
}

/* --------------------우측 배너-------------------- */
.right__bnr {
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

/* --------------------컨테이너-------------------- */
.container {
  margin: 120px 0 0 0;
}

/* 버튼 공통 */
.btn {
  display: inline-block;
  height: 38px;
  text-align: center;
}

.btn a {
  display: block;
  min-width: 130px;
  height: 100%;
  line-height: 34px;
  border-radius: 4px;
  transition: all ease-in-out 0.5s;
}

.btn a:hover {
  color: #fff;
  text-decoration: underline;
}

/* 섹션 공통 */
section {
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* ----------메인 비주얼*/
.main__visual {
  background-image: url("../img/top_bg.jpg");
  background-size: 100%;
  height: 31.95vw;
}

.main__visual img {
  max-width: 100%;
  vertical-align: top;
}

.main__visual__inner {
  position: relative;
  height: 100%;
}

.main__visual__slogan {
  position: absolute;
  top: 33%;
  left: 10%;
  width: 30%;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.btn__slogan {
  position: absolute;
  top: 60%;
  left: 10%;
  width: 26%;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.btn__slogan a {
  width: 25%;
  margin: 0 auto;
  color: #f29440;
  border: 2px solid #f29440;
}

.btn__slogan a:hover {
  background-color: #f29440;
}

.main__visual__drink {
  position: absolute;
  transition: all ease-in-out 0.5s;
  opacity: 0;
}

.drink1 {
  top: 18%;
  left: 52%;
  width: 19%;

}

.drink2 {
  top: 15%;
  left: 41%;
  width: 17%;
}

.drink3 {
  top: 19%;
  left: 63%;
  width: 19%;
}







/* ----------메인 빈*/
.main__bean {
  background-image: url("../img/promotion_bg.png");
  background-size: cover;
  height: 578px;
}


/* ----------메인 리저브*/
.main__reserve {
  background-image: url("../img/reserve_bg.jpg");
  background-size: cover;
  height: 400px;
}



/* ----------메인 매거진*/
.main__magazine {
  background-image: url("../img/magazine_bg.png");
  background-size: cover;
  height: 400px;
}




/* ----------메인 스토어*/
.main__store {
  background-image: url("../img/store_bg.jpg");
  background-size: cover;
  height: 400px;
}

.main__store__inner {
  position: relative;
  max-width: 1220px;
  height: 100%;
  margin: auto;
}

.main__store__exp {
  position: absolute;
  transition: all ease-in-out 0.5s;
}

.exp1 {
  top: 0;
  left: 130px;
}

.exp2 {
  bottom: 15px;
  left: 360px;
}

.exp3 {
  top: -60px;
  left: 500px;
}

.exp4 {
  bottom: -8px;
  right: 0;
}

.main__store__right {
  position: absolute;
  right: 130px;
  top: 90px;
  color: #333;

  letter-spacing: -1px;
}

.main__store__right h3 {
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-normal);
}

.main__store__right h4 {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
}

.main__store__right p {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
}

.main__store__text-box__content {
  margin: 6px 0;
}

.btn__find-store {
  margin: 28px 0 0 0;
}

.btn__find-store a {
  border: 2px solid #333;
}

.btn__find-store a:hover {
  background-color: #333;
}

footer {
  height: 1000px;
  background-color: #ccc;
}
