@charset "utf-8";
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  font-size: 16px;
  color: #333;
}

li {
  list-style: none;
}

.testimonial {
  margin: 20px auto;
  width: calc(100% - 64px);
  max-width: 1024px;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  padding: 12px 0 60px 0;
  font-weight: 500;
}

/* 리스트 */
.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* 리스트 항목 */
.list .item {
  display: flex;
  align-items: center;
  gap: 36px;
}

/* 이미지 */
.list .item > img {
  width: 160px;
  border-radius: 100%;
  box-shadow: 0px 2px 6px 2px #cfcfcf;
}

/* 텍스트 박스 */
.list .item .text_box {
  padding: 16px;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 2px #cfcfcf;
}

/* 이름 */
.list .item .text_box strong {
  color: #1bacac;
}