@charset "utf-8";
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
/* 1. 기본 Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

/* 2. 링크와 리스트 초기화 */
a {
  text-decoration: none;
  color: inherit;
    line-height: 1;
}

ul, ol {
  list-style: none;
}

/* 3. 버튼 초기화 */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* 4. 폼 요소 초기화 */
input, textarea, select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* 5. 공통 유틸 */
.hidden {
  display: none !important;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

:root {
	/* ------------------------------ 색상 (Color) ------------------------------ */
  --color-white: #ffffff;
  --color-black: #000000;
	--color-primary: #0aa5ff;

  --font-size-xs: 0.625rem; 		/* 12px */
  --font-size-sm: 0.75rem;  		/* 14px */
  --font-size-md: 0.875rem; 		/* 16px */
  --font-size-lg: 1rem;     		/* 20px */
  --font-size-xl: 1.25rem;  		/* 24px */
	--font-size-xxl: 1.5rem;    /* 24px */
  --font-size-display: 2rem;    /* 32px */

	/* ------------------------------ 폰트 (Typography) ------------------------------ */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}